---
import "../style/global.css"
import Navmenu from "../components/Navmenu.astro";
const { title } = Astro.props;
---
<!DOCTYPE html>
<html data-theme="emerald" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body class="bg-background text-text">
  <header>
    <Navmenu />
  </header>
  <main>
    <slot />
  </main>
  <footer class="bg-primary text-white p-4 text-center">
    <p>&copy; 2025 Your School</p>
  </footer>
</body>
</html>